<script>
/* eslint-disable max-len */

import { mapActions, mapGetters } from 'vuex';

import Button from '@/ui/Button';

export default {
  name: 'CartItem',
  props: ['item'],
  components: { Button },
  computed: {
    ...mapGetters({
      quantityTable: 'getQuantityTable',
      items: 'getItems',
      presets: 'getPresets',
    }),
    amount: function() {
      return this.quantityTable[this.item.term];
    },
    price: function() {
      return this.isPreset ? 7 : 0.8;
    },
    totalPrice: function() {
      return (this.price * this.amount).toFixed(1);
    },
    title: function() {
      let item = this.items.find(({ term }) => this.item.term === term);

      if (!item) {
        item = this.presets.find(({ term }) => this.item.term === term);
      }

      return item.title;
    },
    isPreset: function() {
      return Boolean(this.presets.find(({ term }) => this.item.term === term));
    },
  },
  methods: mapActions([
    'addToCart',
    'removeFromCart',
    'takeFromCart',
  ]),
};
</script>

<template>
<div class="cartItem-wrapper">
  <div class="photo-wrapper">
    <img :src="require(`../../img/items/${item.term}.jpg`)" class="photo">
  </div>
  <div class="title">{{title}}</div>
  <div class="price"><span class="euro">&euro;</span> {{price}}</div>
  <div class="amount-block">
    <Button class="small round simple take" @click="takeFromCart(item)">
      <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 491.858 491.858">
        <path fill="currentColor" d="M465.167 211.613H26.69c-8.424 0-26.69 11.439-26.69 34.316s18.267 34.316 26.69 34.316H465.169c8.421 0 26.689-11.439 26.689-34.316s-18.268-34.316-26.691-34.316z"/>
      </svg>
    </Button>
    <div class="symbol">×</div>
    <div class="amount">{{amount}}</div>
    <div class="symbol">=</div>
    <Button class="small round simple add" @click="addToCart(item)">
      <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 491.86 491.86">
        <path fill="currentColor" d="M465.167 211.614H280.245V26.691c0-8.424-11.439-26.69-34.316-26.69s-34.316 18.267-34.316 26.69v184.924H26.69C18.267 211.614 0 223.053 0 245.929s18.267 34.316 26.69 34.316h184.924v184.924c0 8.422 11.438 26.69 34.316 26.69s34.316-18.268 34.316-26.69V280.245H465.17c8.422 0 26.69-11.438 26.69-34.316s-18.27-34.315-26.693-34.315z"/>
      </svg>
    </Button>
  </div>
  <div class="totalPrice"><span class="euro">&euro;</span> {{totalPrice}}</div>
  <div class="remove-wrapper">
    <Button class="small round remove" @click="removeFromCart(item)">
      <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 212.982 212.982">
        <path fill="currentColor" d="M131.804 106.491l75.936-75.936c6.99-6.99 6.99-18.323 0-25.312-6.99-6.99-18.322-6.99-25.312 0L106.491 81.18 30.554 5.242c-6.99-6.99-18.322-6.99-25.312 0-6.989 6.99-6.989 18.323 0 25.312l75.937 75.936-75.937 75.937c-6.989 6.99-6.989 18.323 0 25.312 6.99 6.99 18.322 6.99 25.312 0l75.937-75.937 75.937 75.937c6.989 6.99 18.322 6.99 25.312 0 6.99-6.99 6.99-18.322 0-25.312l-75.936-75.936z" fill-rule="evenodd" clip-rule="evenodd"/>
      </svg>
    </Button>
  </div>
</div>
</template>

<style lang="scss" scoped>
$grey: rgba(black, .4);
$green: #459C6C;
$red: #f75f5f;

@mixin flex-center() {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin flex-start() {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.cartItem-wrapper {
  align-items: center;
  background-color: white;
  border-bottom: 1px solid rgba(black, .1);
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 10px 30px 10px 20px;
  position: relative;

  &:last-of-type {
    border-bottom: 0;
    margin-bottom: 0;
  }

  &>div {
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 20px;

    &:first-of-type {
      margin-left: 0;
    }
  }

  .photo-wrapper {
    height: 60px;
    width: 60px;

    @include flex-center();

    .photo {
      display: block;
      width: 60px;
      max-height: 60px;
    }
  }

  .title {
    flex-grow: 1;
    text-align: left;
  }

  .symbol {
    display: none;
  }

  .price {
    text-align: left;
    width: 45px;
  }

  .totalPrice {
    text-align: left;
    width: 50px;
  }

  .euro {
    color: $grey;
  }

  .amount-block {
    text-align: center;

    @include flex-center();

    .amount {
      color: #459C6C;
      font-weight: 500;
      width: 30px;
    }

    .take {
      @include flex-center();

      &:hover {
        border-color: $red;
        border-width: 1px;

        .icon {
          color: $red !important;
        }
      }
    }

    .add {
      @include flex-center();

      &:hover {
        border-color: $green;
        border-width: 1px;

        .icon {
          color: $green !important;
        }
      }
    }

    .icon {
      color: $grey;
      height: 10px;
      width: 10px;
    }
  }

  .remove-wrapper {
    .remove {
      @include flex-center();

      &:hover {
        background-color: $red;
        border-color: transparent;

        .icon {
          color: white !important;
        }
      }

      .icon {
        color: $grey;
        height: 10px;
        width: 10px;
      }
    }
  }

  @media screen and (max-width: 1023px) {
    padding-right: 20px;
  }

  @media screen and (max-width: 639px) {
    padding: 10px;

    .photo-wrapper {
      display: none;
    }

    .title {
      margin-left: 0;
    }
  }

  @media screen and (max-width: 479px) {
    font-size: 14px;

    &>div {
      margin-left: 10px;
    }

    .amount-block {
      margin-left: 0;

      .amount {
        width: 20px;
      }
    }
  }

  @media screen and (max-width: 359px) {
    .price {
      display: none;
    }
  }
}
</style>
