<script>
import { mapGetters } from 'vuex';

import CartItem from '@/Cart/CartItem';
import CartListHeader from '@/Cart/CartListHeader';

export default {
  name: 'CartList',
  components: { CartItem, CartListHeader },
  computed: mapGetters({
    list: 'getCartList',
  }),
};
</script>

<template>
<div class="cart-list-wrapper">
  <CartListHeader></CartListHeader>
  <div class="cart-list">
    <CartItem
      class="cart-list-item"
      v-for="item in list"
      v-bind:key="item.term"
      v-bind:item="item"
    ></CartItem>
    </div>
</div>
</template>

<style lang="scss" scoped>
.cart-list-wrapper {
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 1;
  display: flex;
  overflow: scroll;
}

.cart-list {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  overflow: scroll;
}
</style>
