<script>
import { mapGetters } from 'vuex';

import CartList from '@/Cart/CartList';

export default {
  name: 'Cart',
  components: { CartList },
  computed: mapGetters({
    list: 'getCartList',
    amount: 'getCartTotalAmounts',
    isCartEmpty: 'getIsCartEmpty',
    totalPrice: 'getTotalPrice',
  }),
};
</script>

<template>
<div class="cart-wrapper">
  <div class="description empty" v-if="isCartEmpty">
    Your cart is empty.
  </div>
  <div class="description" v-if="!isCartEmpty">
    You have
    <span v-if="amount.sets">
      <span class="highlighted">
        {{amount.sets}} set<span v-if="amount.sets > 1">s</span>
      </span>
      and
    </span>
    <span v-if="amount.items" class="highlighted">
      {{amount.items}} item<span v-if="amount.items > 1">s</span>
    </span>
    in your order.
    Total price is <span class="total">&euro;{{totalPrice}}</span>
  </div>
  <CartList v-if="!isCartEmpty"></CartList>
</div>
</template>

<style lang="scss" scoped>
$green: #459C6C;

@mixin flex-center() {
  align-items: center;
  display: flex;
  justify-content: center;
}

.cart-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
}

.description {
  flex-shrink: 0;
  line-height: 24px;
  text-align: left;
  padding: 20px 30px;

  &.empty {
    height: 100%;

    @include flex-center();
  }

  .highlighted {
    font-weight: 500;
  }

  .total {
    color: $green;
    font-weight: 500;
  }
}
</style>
