<script>
export default {
  name: 'CartListHeader',
};
</script>

<template>
<div class="cartListHeader-wrapper">
  <div class="photo-wrapper"></div>
  <div class="title">Name</div>
  <div class="price">Price</div>
  <div class="amount-block">Amount</div>
  <div class="totalPrice">Total</div>
  <div class="remove-wrapper"></div>
</div>
</template>

<style lang="scss" scoped>
$grey: rgba(black, .4);
$green: #459C6C;
$red: #f75f5f;

@mixin flex-center() {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin flex-start() {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.cartListHeader-wrapper {
  align-items: center;
  border-bottom: 2px solid rgba(black, .1);
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  font-size: .9em;
  font-weight: 500;
  padding: 0px 30px 10px 20px;;

  &>div {
    margin-left: 20px;

    &:first-of-type {
      margin-left: 0;
    }
  }

  .photo-wrapper {
    width: 60px;
  }

  .title {
    flex-grow: 1;
    text-align: left;
  }

  .price {
    text-align: left;
    width: 45px;
  }

  .totalPrice {
    width: 50px;
  }

  .euro {
    color: $grey;
  }

  .amount-block {
    text-align: center;
    width: 102px;
  }

  .remove-wrapper {
    width: 36px;
  }

  @media screen and (max-width: 1023px) {
    padding-right: 20px;
  }

  @media screen and (max-width: 639px) {
    padding: 10px;

    .photo-wrapper {
      display: none;
    }

    .title {
      margin-left: 0;
    }
  }

  @media screen and (max-width: 479px) {
    font-size: 15px;

    &>div {
      margin-left: 10px;
    }

    .amount-block {
      width: 92px;
    }
  }

  @media screen and (max-width: 359px) {
    .price {
      display: none;
    }
  }
}
</style>
