<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'DeliveryAddress',
  props: ['address', 'hours', 'term', 'marker', 'link'],
  computed: {
    ...mapGetters({
      chosenAddress: 'getAddress',
      checkoutStatus: 'getCheckoutStatus',
    }),
    isChecked: function() {
      return this.chosenAddress === this.term;
    },
    isCheckoutStage: function() {
      return this.checkoutStatus !== 2;
    },
  },
  methods: {
    ...mapActions([
      'chooseAddress',
    ]),
    clickHandler: function(term) {
      if (!this.isCheckoutStage) {
        this.chooseAddress(term);
      }
    },
  },
};
</script>

<template>
<div class="address-wrapper"
  @click="clickHandler(term)"
  v-bind:class="{ active: isChecked, isCheckout: this.checkoutStatus !== 2 }"
>
  <div class="index" v-if="!isCheckoutStage">{{this.marker.label}}</div>
  <div class="content">
    <div class="address" v-if="!link">{{this.address}}</div>
    <a :href="link" target="_blank" class="address" v-if="link">{{this.address}}</a>
    <div class="hours" v-html="this.hours"></div>
  </div>
</div>
</template>

<style lang="scss" scoped>
$gutter: 20px;
$grey: rgba(0, 0, 0, .4);
$red: #DA5040;

@mixin columns($columns) {
  width: calc(100%/#{$columns} - ((#{$columns} - 1) * #{$gutter})/#{$columns});

  &:nth-of-type(#{$columns}n) {
    margin-right: 0;
  }
}

@mixin flex-center() {
  align-items: center;
  display: flex;
  justify-content: center;
}

.address-wrapper {
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  width: 100%;

  @include columns(2);

  &:last-of-type {
    margin-right: 0;
  }

  &:hover {
    .index {
      border-color: currentColor;
      color: black;
    }
  }

  &.active {
    .index {
      background: $red;
      border-color: $red;
      color: black;
    }
  }

  &.isCheckout {
    cursor: default;

    .hours {
      margin-top: 0;
    }
  }
}

.index {
  border: 2px solid $grey;
  border-radius: 50%;
  box-sizing: border-box;
  color: $grey;
  flex-shrink: 0;
  font-weight: 500;
  height: 30px;
  line-height: 28px;
  margin-right: 10px;
  text-align: center;
  transition: all .3s ease;
  width: 30px;
}

.hours {
  color: rgba(0, 0, 0, .6);
  font-size: 14px;
  margin-top: 4px;
}

.address {
  font-weight: 500;
  line-height: 22px;
}

.content {
  text-align: left;
}

@media screen and (max-width: 639px) {
  .address-wrapper {
    margin-bottom: $gutter;

    @include columns(1);
  }
}
</style>
