<script>
import { mapGetters } from 'vuex';

export default {
  name: 'DeliveryMap',
  props: ['markers', 'center'],
  computed: {
    ...mapGetters({
      chosenAddress: 'getAddress',
    }),
    newCenter: function() {
      return this.center
        ? this.center.position
        : { lat: 34.682721, lng: 33.032604 };
    },
  },
};
</script>

<template>
<GmapMap
  :center="newCenter"
  :zoom="14"
  :draggable="false"
  map-type-id="roadmap"
>
  <GmapMarker
    :key="index"
    v-for="(m, index) in markers"
    :position="m.position"
    :clickable="false"
    :draggable="false"
    :label="m.label"
    @click="center=m.position"
  />
</GmapMap>
</template>
