<script>
import { mapGetters } from 'vuex';

import DeliveryAddress from '@/Delivery/DeliveryAddress';
import DeliveryMap from '@/Delivery/DeliveryMap';

export default {
  name: 'Delivery',
  components: { DeliveryAddress, DeliveryMap },
  computed: {
    ...mapGetters({
      addresses: 'getAddresses',
    }),
    markers: function() {
      return this.addresses.map(address => address.marker);
    },
  },
};
</script>

<template>
<div class="delivery-wrapper">
  <div class="description">
    Choose one of the following addresses to get your order. We don't have delivery.
  </div>
  <DeliveryMap :markers="markers"></DeliveryMap>
  <div class="addresses">
    <DeliveryAddress
      v-for="address in addresses"
      v-bind:key="address.term"
      v-bind:address="address.address"
      v-bind:hours="address.hours"
      v-bind:marker="address.marker"
      v-bind:term="address.term"
    ></DeliveryAddress>
  </div>
</div>
</template>

<style lang="scss" scoped>
$green: #459C6C;

.delivery-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: scroll;
}

.addresses {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 30px;
}

.description {
  flex-shrink: 0;
  line-height: 24px;
  text-align: left;
  padding: 20px 30px;
}

.vue-map-container {
  flex-grow: 1;
  height: 100%;
  min-height: 200px;
}
</style>
