<script>
import { mapGetters, mapActions } from 'vuex';
import Button from '@/ui/Button';
import DeliveryAddress from '@/Delivery/DeliveryAddress';

export default {
  name: 'CheckoutDone',
  components: { Button, DeliveryAddress },
  computed: {
    ...mapGetters({
      name: 'getName',
      phone: 'getPhone',
      childName: 'getChildName',
      comments: 'getComments',

      paymentMethod: 'getPaymentMethod',
      addresses: 'getAddresses',
      addressTerm: 'getAddress',

      cartList: 'getCartList',
      packagingType: 'getPackagingType',
      totalPrice: 'getTotalCheckoutPrice',
    }),
    address: function() {
      return this.addresses.find(item => item.term === this.addressTerm);
    },
  },
  methods: mapActions([
    'proceedCheckout',
  ]),
};
</script>

<template>
<div class="checkoutDone-wrapper">
  <div class="checkoutTitle">
    Thank you {{name}}&nbsp;♥️
  </div>
  <div class="content">
    <p>I will inform about your order state to <span class="phone">{{phone}}</span></p>
    <p>
      When it will be ready we can meet at
      <DeliveryAddress
        :isLink="true"
        :link="address.link"
        :marker="address.marker"
        :hours="address.hours"
        :term="address.term"
        :address="address.address"
      />
    </p>
    <div class="button-container">
      <Button
        type="primary"
        @click="proceedCheckout()"
      >
        Got it!
      </Button>
    </div>
  </div>
</div>
</template>

<style lang="scss">
$base-font-color: #565656;
$green: #459C6C;
$grey: rgba(0, 0, 0, 0.4);
$grey-light: rgba(0, 0, 0, 0.1);

.checkoutDone-wrapper {
  box-sizing: border-box;
  padding: 40px 30px;

  .checkoutTitle {
    font-size: 2em;
    line-height: 1.2em;
    padding: 0 0 30px 0;
  }

  .content {
    text-align: left;

    p {
      margin-bottom: 1em;
    }

    .button-container {
      margin-top: 50px;
      text-align: center;
      width: 100%;

      button {
        max-width: 300px;
        width: 100%;
      }
    }
  }

  .phone {
    font-weight: 500;
  }

  .address-wrapper {
    display: inline;

    .content {
      display: inline;
    }

    .hours {
      color: $base-font-color;
      display: inline;
      font-size: initial;

      &::first-letter {
        text-transform: lowercase;
      }
    }
  }
}
</style>
