<script>
import { mapGetters } from 'vuex';

import CartList from '@/Cart/CartList';
import DeliveryAddress from '@/Delivery/DeliveryAddress';
import DeliveryMap from '@/Delivery/DeliveryMap';

export default {
  name: 'Checkout',
  components: { CartList, DeliveryAddress, DeliveryMap },
  computed: {
    ...mapGetters({
      name: 'getName',
      phone: 'getPhone',
      childName: 'getChildName',
      comments: 'getComments',

      paymentMethod: 'getPaymentMethod',
      addresses: 'getAddresses',
      addressTerm: 'getAddress',

      cartList: 'getCartList',
      packagingType: 'getPackagingType',
      totalPrice: 'getTotalCheckoutPrice',
    }),
    address: function() {
      return this.addresses.find(item => item.term === this.addressTerm);
    },
  },
};
</script>

<template>
<div class="checkout-wrapper">
  <div class="checkoutTitle">
    Checkout
  </div>
  <div class="content">
    <div class="row">
      <div class="key">Details</div>
      <div class="value">
        <div class="value-item"><span class="value-item-key">Name</span> {{this.name}}</div>
        <div class="value-item"><span class="value-item-key">Phone</span> {{this.phone}}</div>
        <div class="value-item" v-if="this.childName">
          <span class="value-item-key">Child's name</span> {{this.childName}}
        </div>
        <div class="value-item" v-if="this.comments">
          <span class="value-item-key">Comments</span> {{this.comments}}
        </div>
        <div class="value-item">
          <span class="value-item-key">Payment method</span> {{this.paymentMethod.title}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="key">Pick-up point</div>
      <div class="value">
        <DeliveryAddress
          :isLink="true"
          :link="address.link"
          :marker="address.marker"
          :hours="address.hours"
          :term="address.term"
          :address="address.address"
        />
      </div>
    </div>

    <div class="row wrapped">
      <div class="key">Order</div>
      <div class="value">
        <CartList></CartList>
        <div class="cart-list-package" v-if="packagingType !== 'simple'">
          <span class="title">Solid package</span>
          <span class="price"><span class="euro">€</span> 1</span>
        </div>
        <div class="cart-total">
          <span class="label">Total</span>
          <span class="price">€ {{totalPrice}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<style lang="scss">
$green: #459C6C;
$grey: rgba(0, 0, 0, 0.4);
$grey-light: rgba(0, 0, 0, 0.1);

.checkout-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  padding: 20px 30px 0;

  .content {
    line-height: 24px;
    overflow: scroll;
    text-align: left;
  }

  .row {
    display: flex;
    margin-bottom: 20px;
    width: 100%;

    &.wrapped {
      flex-wrap: wrap;
    }
  }

  .key {
    color: $green;
    flex-shrink: 0;
    margin-bottom: 4px;
    min-width: 150px;
    width: 20%;
  }

  .value {
    flex-grow: 1;
    font-size: 14px;
    width: 90%;
  }

  .value-item-key {
    opacity: .6;
  }

  .address-wrapper {
    width: 100%;
  }

  .cart-list-wrapper {
    border-top: 2px solid $grey-light;
    border-bottom: 1px solid $grey-light;
  }

  .cart-list-package {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

    .price {
      width: 40px;
      text-align: left;
    }

    .euro {
      color: $grey;
    }
  }

  .cartListHeader-wrapper {
    display: none !important;
  }

  .cartItem-wrapper.cart-list-item {
    margin: 0;
    padding: 10px 0;

    .photo-wrapper {
      display: none;
    }

    .title {
      margin-left: 0;
    }

    .symbol {
      display: inline-block;
    }

    .price {
      display: block;
      text-align: right;
      width: 40px;
    }

    .totalPrice {
      text-align: left;
    }

    .amount-block {
      margin-left: 10px;
    }

    .remove-wrapper {
      display: none;
    }

    button {
      display: none !important;
    }
  }

  .cart-total {
    border-top: 2px solid $grey-light;
    padding: 10px;
    text-align: right;

    .label {
      font-weight: bold;
    }

    .price {
      margin-left: 10px;
    }
  }

  @media screen and (max-width: 639px) {
    .row {
      flex-wrap: wrap;
    }
  }
}
</style>
