<script>
import { mapGetters } from 'vuex';

import PackagingItem from '@/Packaging/PackagingItem';

export default {
  name: 'Packaging',
  components: { PackagingItem },
  computed: mapGetters({
    packages: 'getPackages',
  }),
};
</script>

<template>
<div class="cart-packaging-wrapper">
  <div class="checkoutTitle">
    Choose the packaging
  </div>
  <div class="packages">
    <PackagingItem
      class="item"
      v-for="item in packages"
      v-bind:key="item.term"
      v-bind:item="item"
    ></PackagingItem>
  </div>
</div>
</template>

<style lang="scss" scoped>
$green: #459C6C;

.cart-packaging-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: scroll;
  padding: 20px 30px;
}

.description {
  flex-shrink: 0;
  text-align: left;
  margin-bottom: 30px;
}

.packages {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
</style>
