<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'PackagingItem',
  props: ['item'],
  computed: {
    ...mapGetters({
      package: 'getPackagingType',
    }),
    isChecked: function() {
      return this.package === this.item.term;
    },
  },
  methods: mapActions([
    'choosePackaging',
  ]),
};
</script>

<template>
<div
  class="packagingItem-wrapper"
  @click="choosePackaging(item)"
  v-bind:class="{ active: isChecked }"
>
  <div class="content">
    <img :src="require(`../../img/packages/${item.term}.jpg`)" class="photo">
  </div>
  <div class="footer">
    {{item.price ? `&euro;${item.price}` : 'For free'}}
  </div>
</div>
</template>

<style lang="scss" scoped>
$gutter: 32px;
$green: #459C6C;

@mixin columns($columns) {
  width: calc(100%/#{$columns} - ((#{$columns} - 1) * #{$gutter})/#{$columns});

  &:nth-of-type(#{$columns}n) {
    margin-right: 0;
  }
}

.packagingItem-wrapper {
  background-color: white;
  border: 2px solid rgba(black, .1);
  box-sizing: border-box;
  box-shadow: 0px 0px 0px #DDD;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 $gutter 32px 0;
  overflow: hidden;
  position: relative;
  transition: all .3s ease;

  @include columns(2);

  &:last-of-type {
    margin-right: 0;
  }

  &:hover {
    border-color: rgba($green, .5);
  }

  &.active {
    border: 2px solid $green;
  }
}

.content {
  user-select: none;
}

.photo {
  display: block;
  margin: 0 auto;
  width: 100%;
  object-fit: contain;
}

.footer {
  background-color: #f0f0f0;
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
  text-align: center;
}

@media screen and (max-width: 479px) {
  .packagingItem-wrapper {
    @include columns(1);
  }
}
</style>
