<template>
<div class="wrapper grey">
  <div class="inner featured">
    <header>
      <h2>What are clay toys?</h2>
    </header>
    <p class="description">
      <span class="nowrap">At least 97% natural substances clay.</span>
      <span class="nowrap">Odorless acrylic paints.</span>
      <span class="nowrap">Extremely hard and durable toys.</span>
    </p>
    <div class="photos">
      <img src="../img/about_clay.jpg" class="photo">
      <div class="symbol">+</div>
      <img src="../img/about_paints.jpg" class="photo">
      <div class="symbol equal">=</div>
      <img src="../img/about_toys.jpg" class="photo">
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'About',
};
</script>

<style lang="scss" scoped>
.photos {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 3em;

  a {
    border: none;
  }
}

.photo {
  border-radius: 50%;
  box-shadow: 0px 0px 0px #CCC;
  height: 240px;
  object-fit: cover;
  object-position: 30% 50%;
  width: 240px;
}

.symbol {
  font-size: 5em;
  font-weight: 300;
  opacity: .6;
  margin: 0 30px;
}

@media screen and (max-width: 1023px) {
  p {
    margin-bottom: 1.5em;
  }

  .photos {
    flex-wrap: wrap;
    margin-top: 1.5em;
  }

  .photo {
    height: 140px;
    width: 140px;
  }

  .symbol {
    font-size: 4em;
    margin: 0px 20px;
  }
}

@media screen and (max-width: 639px) {
  .description {
    span:last-child {
      display: none;
    }
  }

  .photo {
    height: 160px;
    width: 160px;

    &:last-child {
      display: none;
    }
  }

  .equal {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .photos {
    justify-content: center;
  }

  .photo {
    height: 140px;
    width: 140px;

    &:first-child {
      margin-right: 20px;
    }
  }

  .symbol {
    display: none;
  }
}

@media screen and (max-width: 359px) {
  .photo {
    height: 120px;
    width: 120px;
  }
}
</style>
