<script>
import Vue from 'vue';
import * as VueGoogleMaps from 'vue2-google-maps';
import { mapActions, mapGetters } from 'vuex';

import Button from '@/ui/Button';
import Delivery from '@/Delivery/Delivery';
import Cart from '@/Cart/Cart';
import Checkout from '@/Checkout/Checkout';
import CheckoutDone from '@/Checkout/CheckoutDone';
import Contacts from '@/Contacts/Contacts';
import Packaging from '@/Packaging/Packaging';
import Payment from '@/Payment/Payment';

Vue.use(VueGoogleMaps, {
  load: {
    key: 'AIzaSyCgEJ4gPPbqfV5TQI2F31mEZTb7XzZc1vc',
    libraries: 'places',
    region: 'CY',
    language: 'en',
  },
});

export default {
  name: 'CheckoutModal',
  components: {
    Button,
    Cart,
    Checkout,
    CheckoutDone,
    Contacts,
    Delivery,
    Packaging,
    Payment,
  },
  computed: {
    ...mapGetters({
      amount: 'getCartTotalAmounts',
      checkoutStatus: 'getCheckoutStatus',
      isCartEmpty: 'getIsCartEmpty',
      isCartShown: 'getIsCartShown',
      totalPrice: 'getTotalPrice',
      orderPhone: 'getPhone',
    }),
  },
  methods: {
    ...mapActions([
      'goToCheckoutStage',
      'proceedCheckout',
      'toggleCartVisibility',
      'completeOrder',
    ]),
    clickHandler: function() {
      return this.checkoutStatus === 5
        ? this.completeOrder()
        : this.proceedCheckout();
    },
  },
};
</script>

<template>
<div class="modal-wrapper" :class="{ isFinal: checkoutStatus === 6 }" v-if="isCartShown">
  <div class="inner">
    <div class="navigator" v-if="checkoutStatus < 6">
      <div class="nav-item"
        @click="goToCheckoutStage(0)"
        v-bind:class="{
          active: checkoutStatus === 0,
          passed: checkoutStatus > 0,
        }"
      >
        <div class="count">1</div><span class="label">Cart</span>
      </div>
      <div class="nav-item"
        @click="goToCheckoutStage(1)"
        v-bind:class="{
          active: checkoutStatus === 1,
          passed: checkoutStatus > 1,
        }"
      >
        <div class="count">2</div><span class="label">Packaging</span>
      </div>
      <div class="nav-item"
        @click="goToCheckoutStage(2)"
        v-bind:class="{
          active: checkoutStatus === 2,
          passed: checkoutStatus > 2,
        }"
      >
        <div class="count">3</div><span class="label">Pick-up</span>
      </div>
      <div class="nav-item"
        @click="goToCheckoutStage(3)"
        v-bind:class="{
          active: checkoutStatus === 3,
          passed: checkoutStatus > 3,
        }"
      >
        <div class="count">4</div><span class="label">Payment</span>
      </div>
      <div class="nav-item"
        @click="goToCheckoutStage(4)"
        v-bind:class="{
          active: checkoutStatus === 4,
          passed: checkoutStatus > 4,
        }"
      >
        <div class="count">5</div><span class="label">Contacts</span>
      </div>
      <div class="nav-item"
        v-bind:class="{
          active: checkoutStatus === 5,
        }"
      >
        <div class="count">6</div><span class="label">Checkout</span>
      </div>
    </div>

    <Cart v-if="checkoutStatus === 0"></Cart>
    <Packaging v-if="checkoutStatus === 1"></Packaging>
    <Delivery v-if="checkoutStatus === 2"></Delivery>
    <Payment v-if="checkoutStatus === 3"></Payment>
    <Contacts v-if="checkoutStatus === 4"></Contacts>
    <Checkout v-if="checkoutStatus === 5"></Checkout>
    <CheckoutDone v-if="checkoutStatus === 6"></CheckoutDone>

    <div class="footer" v-if="checkoutStatus < 6">
      <Button
        size="small"
        @click="toggleCartVisibility()"
      >
        Back
        <span class="back-to-shopping-text"> to shopping</span>
      </Button>
      <Button
        size="small"
        type="primary"
        :disabled="!orderPhone && checkoutStatus === 4"
        v-if="!isCartEmpty"
        @click="clickHandler"
      >
        <span v-if="checkoutStatus === 5"> Complete</span>
        <span v-if="checkoutStatus !== 5"> Proceed</span>
      </Button>
    </div>
  </div>
</div>
</template>


<style lang="scss" scope>
.checkoutTitle {
  flex-shrink: 0;
  font-size: 24px;
  line-height: 32px;
  padding: 0 0 20px;
  text-align: center;
}
</style>

<style lang="scss" scoped>
$green: #459C6C;
$black: rgba(#000, .8);
$grey: rgba(#000, .4);
$grey-light: rgba(#000, .2);

@mixin flex-center() {
  align-items: center;
  display: flex;
  justify-content: center;
}

.modal-wrapper {
  background: white;
  box-sizing: border-box;
  height: 90%;
  left: 50%;
  max-width: 800px;
  padding: 0;
  position: fixed;
  top: 5%;
  transform: translateX(-50%);
  width: 90%;
  z-index: 20;

  &.isFinal {
    height: auto;
  }
}

.inner {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap !important;
  height: 100%;
  justify-content: space-between;
}

.navigator {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  // margin-bottom: 20px;
  width: 100%;
}

.nav-item {
  border-bottom: 2px solid $grey-light;
  color: $grey;
  flex: 1 0 auto;
  padding: 1em;
  text-align: center;

  &.active {
    color: initial;
    background-color: $green;
    color: white;
  }

  &.passed {
    border-color: $green;
    color: $green;
    cursor: pointer;
  }

  .count {
    font-weight: 500;
  }
}

.footer {
  align-items: center;
  background-color: rgba(#000, .05);
  border-top: 1px solid rgba(black, .1);
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 30px;
}

@media screen and (max-width: 1023px) {
  .footer {
    padding: 15px 20px;
  }

  .nav-item {
    font-size: 15px;

    .count {
      font-size: 16px;
    }

    .label {
      display: none;
    }
  }
}

@media screen and (max-width: 639px) {
  .modal-wrapper {
    height: 100%;
    left: 0;
    transform: translateX(0%);
    top: 0;
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .footer {
    .back-to-shopping-text {
      display: none;
    }
  }
}
</style>
