<template>
<div class="wrapper">
  <div class="inner">
    <p>{{year}}<span class="emodji">🥕</span>ClayToys</p>
    <p>For any questions: <a href="mailto:kmxt@mail.ru">kmxt@mail.ru</a></p>
  </div>
</div>
</template>

<script>
export default {
  name: 'Footer',
  data: () => ({
    year: new Date().getFullYear(),
  }),
};
</script>

<style lang="scss" scoped>
.wrapper {
  line-height: 36px;
  padding: 2em;
}

.emodji {
  font-size: 22px;
  margin: 0 0 0 6px;
}

p {
  margin-bottom: .4em;

  &:first-of-type {
    font-weight: 400;
  }

  &:last-of-type {
    font-size: 1em;
    margin-bottom: 0;
  }
}
</style>
