<script>
/* eslint-disable max-len */
import VuePictureSwipe from 'vue-picture-swipe';

import basketsImg from '../img/games/baskets.jpg';
import basketsImgSm from '../img/games/baskets_sm.jpg';

import cookImg from '../img/games/cook.jpg';
import cookImgSm from '../img/games/cook_sm.jpg';

import countImg from '../img/games/count.jpg';
import countImgSm from '../img/games/count_sm.jpg';

import nextImg from '../img/games/next.jpg';
import nextImgSm from '../img/games/next_sm.jpg';

import rainbowImg from '../img/games/rainbow.jpg';
import rainbowImgSm from '../img/games/rainbow_sm.jpg';

import repeatImg from '../img/games/repeat.jpg';
import repeatImgSm from '../img/games/repeat_sm.jpg';

export default {
  name: 'Games',
  components: { VuePictureSwipe },
  data: () => ({
    items: [
      {
        title: 'Pick up fruits and vegies',
        src: basketsImg,
        thumbnail: basketsImgSm,
        w: 1024,
        h: 999,
      },
      {
        title: 'Cook the dish',
        src: cookImg,
        thumbnail: cookImgSm,
        w: 1024,
        h: 618,
      },
      {
        title: 'Let\'s count',
        src: countImg,
        thumbnail: countImgSm,
        w: 1024,
        h: 766,
      },
      {
        title: 'What\'s next?',
        src: nextImg,
        thumbnail: nextImgSm,
        w: 1024,
        h: 928,
      },
      {
        title: 'Sort by the color',
        src: rainbowImg,
        thumbnail: rainbowImgSm,
        w: 1024,
        h: 995,
      },
      {
        title: 'Let\'s repeat',
        src: repeatImg,
        thumbnail: repeatImgSm,
        w: 1024,
        h: 941,
      },
    ],
  }),
};
</script>

<template>
<div class="wrapper">
  <div class="inner">
    <header>
      <h2>Games</h2>
    </header>
    <p class="description">
      There are some educational games you can play
    </p>
    <vue-picture-swipe :items="items"></vue-picture-swipe>
    <div class="socialLinks">
      More games in
      <a class="socialIcon-wrapper" href="https://docs.google.com/document/d/17_y34ICK97bAPyTNe9pBo0-nwzGblWabW_gWyd_nGCU/edit?usp=sharing" target="_blank">
        <svg class="socialIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path d="M128 0c-17.6 0-32 14.4-32 32v448c0 17.6 14.4 32 32 32h320c17.6 0 32-14.4 32-32V128L352 0H128z" fill="#e2e5e7"/>
          <path d="M384 128h96L352 0v96c0 17.6 14.4 32 32 32z" fill="#b0b7bd"/>
          <path fill="#cad1d8" d="M480 224l-96-96h96z"/>
          <path d="M416 416c0 8.8-7.2 16-16 16H48c-8.8 0-16-7.2-16-16V256c0-8.8 7.2-16 16-16h352c8.8 0 16 7.2 16 16v160z" fill="#50bee8"/>
          <g fill="#fff">
            <path d="M92.576 384c-4.224 0-8.832-2.32-8.832-7.936v-72.656c0-4.608 4.608-7.936 8.832-7.936h29.296c58.464 0 57.168 88.528 1.136 88.528H92.576zm8.064-72.928v57.312h21.232c34.544 0 36.064-57.312 0-57.312H100.64zM228 385.28c-23.664 1.024-48.24-14.72-48.24-46.064 0-31.472 24.56-46.944 48.24-46.944 22.384 1.136 45.792 16.624 45.792 46.944 0 30.336-23.408 46.064-45.792 46.064zm-1.408-76.368c-14.336 0-29.936 10.112-29.936 30.32 0 20.096 15.616 30.336 29.936 30.336 14.72 0 30.448-10.24 30.448-30.336 0-20.224-15.728-30.32-30.448-30.32zM288.848 339.088c0-24.688 15.488-45.92 44.912-45.92 11.136 0 19.968 3.328 29.296 11.392 3.456 3.184 3.84 8.816.384 12.4-3.456 3.056-8.704 2.688-11.776-.384-5.232-5.504-10.608-7.024-17.904-7.024-19.696 0-29.152 13.952-29.152 29.552 0 15.872 9.328 30.448 29.152 30.448 7.296 0 14.08-2.96 19.968-8.192 3.952-3.072 9.456-1.552 11.76 1.536 2.048 2.816 3.056 7.552-1.408 12.016-8.96 8.336-19.696 10-30.336 10-30.944 0-44.896-21.136-44.896-45.824z"/>
          </g>
          <path d="M400 432H96v16h304c8.8 0 16-7.2 16-16v-16c0 8.8-7.2 16-16 16z" fill="#cad1d8"/>
        </svg>
      </a>
      and
      <a class="socialIcon-wrapper" href="https://www.instagram.com/clay.toys_limassol/" target="_blank">
        <svg class="socialIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path d="M114.759 512h61.103l-96.414-61.793-79.25-46.309C3.659 464.09 53.716 512 114.759 512z" fill="#fde494"/>
          <path d="M335.448 476.69l-69.006-17.655H114.759c-34.072 0-61.793-27.721-61.793-61.793v-33.876l-26.483-28.42L0 339.628v57.613c0 2.236.072 4.454.198 6.657L175.862 512h208.767l-49.181-35.31z" fill="#fea150"/>
          <path d="M441.655 440.14c-11.244 11.637-26.993 18.894-44.414 18.894H266.442L384.629 512h12.612c41.202 0 77.396-21.829 97.64-54.527l-27.022-16.094-26.204-1.239z" fill="#ff5d4a"/>
          <path d="M459.034 326.014v71.228c0 16.652-6.633 31.775-17.379 42.899l53.227 17.333C505.728 439.954 512 419.318 512 397.241v-62.805l-27.396-15.391-25.57 6.969z" fill="#e45261"/>
          <path fill="#ff4d95" d="M512 149.19l-28.203-6.716-24.763 14.826v168.714L512 334.436z"/>
          <path d="M512 114.759c0-57.633-42.708-105.473-98.136-113.55L344.43 30.101l-35.183 22.865h87.994c34.072 0 61.793 27.721 61.793 61.793V157.3L512 149.19v-34.431z" fill="#cb319c"/>
          <path d="M317.732 0L252.05 24.636l-51.805 28.33h109.002L413.864 1.208A115.22 115.22 0 0 0 397.241 0h-79.509z" fill="#8a3293"/>
          <path d="M256 406.069c18.358 0 35.954-3.32 52.226-9.38l-86.02-39.047-91.178-18.657c26.918 40.405 72.885 67.084 124.972 67.084z" fill="#ff5d4a"/>
          <path d="M329.153 305.358c-15.883 23.465-42.748 38.918-73.153 38.918-40.273 0-74.308-27.118-84.867-64.046l-23.682-14.801-40.847 4.538a149.134 149.134 0 0 0 24.425 69.017l177.198 57.705c38.303-14.264 69.237-43.757 85.458-81.068l-31.753-16.085-32.779 5.822z" fill="#e45261"/>
          <g fill="#ff4d95">
            <path d="M167.724 256c0-21.878 8.018-41.907 21.247-57.346l-37.658-5.268-38.25 16.892A149.478 149.478 0 0 0 105.931 256c0 4.712.244 9.365.671 13.966l64.53 10.262A87.974 87.974 0 0 1 167.724 256zM406.069 256c0-32.138-10.159-61.946-27.428-86.39l-37.397-5.308-38.418 16.917c24.873 15.631 41.45 43.298 41.45 74.781 0 18.27-5.58 35.261-15.123 49.358l64.531 10.262A149.162 149.162 0 0 0 406.069 256z"/>
          </g>
          <g fill="#cb319c">
            <path d="M256 167.724c17.194 0 33.242 4.959 46.826 13.495l75.815-11.609c-27.196-38.493-72.03-63.679-122.641-63.679-66.81 0-123.554 43.889-142.937 104.345l75.908-11.624c16.202-18.91 40.232-30.928 67.029-30.928zM397.241 150.069c19.47 0 35.31-15.84 35.31-35.31s-15.84-35.31-35.31-35.31c-19.47 0-35.31 15.84-35.31 35.31s15.84 35.31 35.31 35.31z"/>
          </g>
          <path fill="#ff5d4a" d="M52.966 313.564L27.47 300.847 0 296.316v43.313l52.966 23.737z"/>
          <path fill="#e45261" d="M0 253.014v43.302l52.966 17.248v-52.127l-27.52-9.894z"/>
          <path fill="#ff4d95" d="M52.966 219.479l-27.217-.246L0 227.59v25.424l52.966 8.423z"/>
          <path fill="#cb319c" d="M52.966 179.757l-28.055 2.846L0 205.962v21.628l52.966-8.111z"/>
          <path fill="#8a3293" d="M0 205.962l52.966-26.205v-60.395L21.9 122.333 0 143.241z"/>
          <path d="M205.059 0L84.206 46.481 1.387 96.928A115.22 115.22 0 0 0 0 114.759v28.482l52.966-23.878v-4.605c0-34.072 27.721-61.793 61.793-61.793h85.487L317.732 0H205.059z" fill="#523494"/>
          <path d="M114.759 0C57.545 0 9.978 42.088 1.387 96.928L205.059 0h-90.3z" fill="#2d2d87"/>
        </svg>
      </a>
    </div>
  </div>
</div>
</template>

<style lang="scss">
$green: #459C6C;

$gutter: 10px;

@mixin columns($columns) {
  width: calc(100%/#{$columns} - ((#{$columns} - 1) * #{$gutter})/#{$columns});

  &:nth-of-type(#{$columns}n) {
    margin-right: 0;
  }
}

.my-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  figure {
    display: block;
    margin: 0 $gutter $gutter 0;

    @include columns(3);

    &:hover {
      img {
        box-shadow: 10px 10px 20px #DDD;
      }
    }
  }

  a {
    border-bottom: none;
    display: block;
    width: 100%;
  }

  img {
    border-radius: 4px;
    box-shadow: 0px 0px 0px #DDD;
    height: 250px;
    object-fit: cover;
    object-position: top;
    transition: all .3s ease;
    width: 100%;
  }

  @media screen and (max-width: 1023px) {
    img {
      height: 200px;
    }
  }

  @media screen and (max-width: 639px) {
    figure {
      @include columns(2);
    }

    img {
      height: 200px;
    }
  }

  @media screen and (max-width: 479px) {
    img {
      height: 150px;
    }
  }

  @media screen and (max-width: 359px) {
  }
}
</style>

<style lang="scss">
.socialLinks {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.socialIcon-wrapper {
  margin-left: 6px;
}
</style>
