<script>
/* eslint-disable max-len */

export default {
  name: 'Intro',
};
</script>

<template>
<div class="wrapper">
  <div class="inner intro">
    <div class="photo"></div>
    <div class="content">
      <h1>Hi, my name is Julia</h1>
      <div class="description">
        I make clay toys which help children in&nbsp;developing their's:
        <ul>
          <li>✊ Hand and finger strength</li>
          <li>👀 Hand eye coordination</li>
          <li>👐 Hand dominance</li>
          <li>🖐 Hand division</li>
          <li>✍️ Object manipulation</li>
          <li>🌈 Colors recognition</li>
          <li>🧠 Body awareness skills.</li>
        </ul>
      </div>
      <div class="socialIcons">
        <a class="socialIcon-wrapper" href="https://www.instagram.com/clay.toys_limassol/" target="_blank">
          <svg class="socialIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path d="M114.759 512h61.103l-96.414-61.793-79.25-46.309C3.659 464.09 53.716 512 114.759 512z" fill="#fde494"/>
            <path d="M335.448 476.69l-69.006-17.655H114.759c-34.072 0-61.793-27.721-61.793-61.793v-33.876l-26.483-28.42L0 339.628v57.613c0 2.236.072 4.454.198 6.657L175.862 512h208.767l-49.181-35.31z" fill="#fea150"/>
            <path d="M441.655 440.14c-11.244 11.637-26.993 18.894-44.414 18.894H266.442L384.629 512h12.612c41.202 0 77.396-21.829 97.64-54.527l-27.022-16.094-26.204-1.239z" fill="#ff5d4a"/>
            <path d="M459.034 326.014v71.228c0 16.652-6.633 31.775-17.379 42.899l53.227 17.333C505.728 439.954 512 419.318 512 397.241v-62.805l-27.396-15.391-25.57 6.969z" fill="#e45261"/>
            <path fill="#ff4d95" d="M512 149.19l-28.203-6.716-24.763 14.826v168.714L512 334.436z"/>
            <path d="M512 114.759c0-57.633-42.708-105.473-98.136-113.55L344.43 30.101l-35.183 22.865h87.994c34.072 0 61.793 27.721 61.793 61.793V157.3L512 149.19v-34.431z" fill="#cb319c"/>
            <path d="M317.732 0L252.05 24.636l-51.805 28.33h109.002L413.864 1.208A115.22 115.22 0 0 0 397.241 0h-79.509z" fill="#8a3293"/>
            <path d="M256 406.069c18.358 0 35.954-3.32 52.226-9.38l-86.02-39.047-91.178-18.657c26.918 40.405 72.885 67.084 124.972 67.084z" fill="#ff5d4a"/>
            <path d="M329.153 305.358c-15.883 23.465-42.748 38.918-73.153 38.918-40.273 0-74.308-27.118-84.867-64.046l-23.682-14.801-40.847 4.538a149.134 149.134 0 0 0 24.425 69.017l177.198 57.705c38.303-14.264 69.237-43.757 85.458-81.068l-31.753-16.085-32.779 5.822z" fill="#e45261"/>
            <g fill="#ff4d95">
              <path d="M167.724 256c0-21.878 8.018-41.907 21.247-57.346l-37.658-5.268-38.25 16.892A149.478 149.478 0 0 0 105.931 256c0 4.712.244 9.365.671 13.966l64.53 10.262A87.974 87.974 0 0 1 167.724 256zM406.069 256c0-32.138-10.159-61.946-27.428-86.39l-37.397-5.308-38.418 16.917c24.873 15.631 41.45 43.298 41.45 74.781 0 18.27-5.58 35.261-15.123 49.358l64.531 10.262A149.162 149.162 0 0 0 406.069 256z"/>
            </g>
            <g fill="#cb319c">
              <path d="M256 167.724c17.194 0 33.242 4.959 46.826 13.495l75.815-11.609c-27.196-38.493-72.03-63.679-122.641-63.679-66.81 0-123.554 43.889-142.937 104.345l75.908-11.624c16.202-18.91 40.232-30.928 67.029-30.928zM397.241 150.069c19.47 0 35.31-15.84 35.31-35.31s-15.84-35.31-35.31-35.31c-19.47 0-35.31 15.84-35.31 35.31s15.84 35.31 35.31 35.31z"/>
            </g>
            <path fill="#ff5d4a" d="M52.966 313.564L27.47 300.847 0 296.316v43.313l52.966 23.737z"/>
            <path fill="#e45261" d="M0 253.014v43.302l52.966 17.248v-52.127l-27.52-9.894z"/>
            <path fill="#ff4d95" d="M52.966 219.479l-27.217-.246L0 227.59v25.424l52.966 8.423z"/>
            <path fill="#cb319c" d="M52.966 179.757l-28.055 2.846L0 205.962v21.628l52.966-8.111z"/>
            <path fill="#8a3293" d="M0 205.962l52.966-26.205v-60.395L21.9 122.333 0 143.241z"/>
            <path d="M205.059 0L84.206 46.481 1.387 96.928A115.22 115.22 0 0 0 0 114.759v28.482l52.966-23.878v-4.605c0-34.072 27.721-61.793 61.793-61.793h85.487L317.732 0H205.059z" fill="#523494"/>
            <path d="M114.759 0C57.545 0 9.978 42.088 1.387 96.928L205.059 0h-90.3z" fill="#2d2d87"/>
          </svg>
        </a>
        <a class="socialIcon-wrapper" href="mailto:kmxt@mail.ru">
          <svg class="socialIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path d="M256 0C114.842 0 .001 114.838.001 255.995.001 397.156 114.842 512 256 512c12.853 0 23.273-10.42 23.273-23.273s-10.42-23.273-23.273-23.273c-115.494 0-209.454-93.964-209.454-209.46C46.545 140.503 140.506 46.545 256 46.545s209.454 93.958 209.454 209.449v58.193c0 19.25-15.664 34.909-34.915 34.909-19.248 0-34.907-15.659-34.907-34.909v-58.193c0-76.997-62.638-139.636-139.631-139.636-76.995 0-139.634 62.639-139.634 139.636 0 77.001 62.639 139.647 139.634 139.647 40.226 0 76.527-17.107 102.03-44.42 13.507 26.342 40.927 44.42 72.508 44.42 44.918 0 81.461-36.54 81.461-81.454v-58.193C511.998 114.838 397.158 0 256 0zm0 349.096c-51.33 0-93.089-41.765-93.089-93.102 0-51.332 41.759-93.091 93.089-93.091 51.329 0 93.086 41.759 93.086 93.091 0 51.337-41.759 93.102-93.086 93.102z" fill="#ff3f62"/>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
</template>

<style lang="scss" scoped>
h1 {
  margin-top: 32px;
}

.intro {
  align-items: flex-start;
  display: flex;
  justify-content: center;
}

.description {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 42px;
}

.content {
  text-align: left;
}

.socialIcons {
  margin-top: 32px;
}

.socialIcon-wrapper {
  margin-left: 0;
}

.photo {
  background-blend-mode: hard-light;
  background-color: #bedcda;
  background-image: url("../img/intro.jpg");
  background-size: cover;
  border-radius: 50%;
  flex: 0 0 auto;
  height: 336px;
  margin-right: 64px;
  width: 336px;
}

ul {
  font-size: 90%;
  line-height: 36px;
  list-style-type: none;
  margin: 0;
  margin-top: 4px;
  padding: 0;
}

@media screen and (min-width: 1024px) {
  .wrapper {
    padding-top: 7.5em;
  }
}

@media screen and (max-width: 1279px) {
  h1 {
    font-size: 3em;
    margin-bottom: 12px;
  }

  .description {
    font-size: 1.3em;
    line-height: 36px;
  }

  .photo {
    height: 300px;
    margin-right: 48px;
    width: 300px;
  }

  ul {
    line-height: 32px;
  }
}

@media screen and (max-width: 1023px) {
  h1 {
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 12px;
    margin-top: 24px;
  }

  .description {
    font-size: 1.1em;
    line-height: 30px;
    max-width: 500px;
  }

  .photo {
    height: 220px;
    margin-right: 36px;
    width: 220px;
  }

  ul {
    line-height: 28px;
  }
}

@media screen and (max-width: 639px) {
  h1 {
    font-size: 2.3em;
  }

  .content {
    text-align: center;
  }

  .description {
    font-size: 1.3em;
    line-height: 32px;
  }

  .photo {
    height: 280px;
    margin-right: 0;
    margin-bottom: 12px;
    width: 280px;
  }

  ul {
    line-height: 32px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: fit-content;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 1.9em;
  }

  .description {
    font-size: 1.1em;
    line-height: 28px;
  }
}

@media screen and (max-width: 359px) {
  h1 {
    font-size: 1.5em;
  }

  .description {
    font-size: 1em;
  }

  .photo {
    height: 220px;
    margin-bottom: 0;
    width: 220px;
  }
}
</style>

