<script>
import { mapGetters } from 'vuex';

import Item from './Item';

export default {
  name: 'ItemsList',
  components: { Item },
  created () {
    // this.$store.dispatch('loadData')
  },
  computed: mapGetters({
    presets: 'getPresets',
    items: 'getItems',
  }),
};
</script>

<template>
<div class="wrapper grey">
  <div class="inner featured">
    <header>
      <h2>Online shop</h2>
    </header>
    <p class="description">
      Price for 11 items set is <span class="price">€7</span>
    </p>
    <div class="list presets">
      <Item
        class="item"
        v-for="item in presets"
        v-bind:key="item.term"
        v-bind:item="item"
      ></Item>
    </div>
    <p class="description">
      Price for single item is <span class="price">€0.8</span>
    </p>
    <div class="list">
      <Item
        class="item"
        v-for="item in this.items"
        v-bind:key="item.term"
        v-bind:item="item"
      ></Item>
    </div>
  </div>
</div>
</template>

<style lang="scss" scoped>
$gutter: 32px;

@mixin columns($columns) {
  width: calc(100%/#{$columns} - ((#{$columns} - 1) * #{$gutter})/#{$columns});

  &:nth-of-type(#{$columns}n) {
    margin-right: 0;
  }
}

.price {
  font-weight: 500;
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2em;

  &.presets {
    @media screen and (min-width: 1024px) {
      .item-wrapper {
        @include columns(3);
      }
    }

    @media screen and (min-width: 640px) and (max-width: 1023px) {
      .item-wrapper {
        @include columns(2);
      }
    }

    @media screen and (max-width: 639px) {
      .item-wrapper {
        @include columns(1);
      }
    }
  }

  @media screen and (min-width: 1024px) {
    .item-wrapper {
      @include columns(4);
    }
  }

  @media screen and (min-width: 640px) and (max-width: 1023px) {
    .item-wrapper {
      @include columns(3);
    }
  }

  @media screen and (min-width: 480px) and (max-width: 639px) {
    .item-wrapper {
      @include columns(2);
    }
  }

  @media screen and (min-width: 360px) and (max-width: 479px) {
    .item-wrapper {
      @include columns(2);
    }
  }

  @media screen and (max-width: 359px) {
    .item-wrapper {
      @include columns(1);
    }
  }
}
</style>
