<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'Item',
  props: ['item'],
  computed: {
    ...mapGetters({
      quantityTable: 'getQuantityTable',
      items: 'getItems',
    }),
    count: function() {
      return this.quantityTable[this.item.term];
    },
    subitems: function() {
      return this.item.items
        .map(term => this.items
          .find(({ term: iterableItemTerm }) => iterableItemTerm === term)
          .title,
        )
        .sort((a, b) => a.length - b.length);
    },
  },
  methods: mapActions([
    'addToCart',
    'removeFromCart',
  ]),
};
</script>

<template>
<div class="item-wrapper" v-bind:class="{ active: count }">
  <div v-if="count" class="remove" @click="removeFromCart(item)">-</div>
  <div class="content" @click="addToCart(item)">
    <div class="photo-container">
      <img :src="require(`../img/items/${item.term}.jpg`)" class="photo">
      <span class="count" v-if="count">{{count}}</span>
    </div>
    <div class="description" v-if="item.items">
      <span
        v-for="subitem in subitems"
        :key="item.term + subitem"
        class="subitem"
      >
        {{subitem}}
      </span>
    </div>
  </div>
  <div class="footer" @click="addToCart(item)">
    <div class="title">
      {{item.title}}
    </div>
  </div>
</div>
</template>

<style lang="scss" scoped>
$gutter: 32px;

@mixin columns($columns) {
  width: calc(100%/#{$columns} - ((#{$columns} - 1) * #{$gutter})/#{$columns});

  &:nth-of-type(#{$columns}n) {
    margin-right: 0;
  }
}

.item-wrapper {
  background-color: white;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 $gutter 32px 0;
  overflow: hidden;
  position: relative;
  transition: box-shadow .3s ease;

  &:last-of-type {
    margin-right: 0;
  }

  &:hover {
    box-shadow: 10px 10px 20px #DDD;

    .photo {
      transform: translateY(-10px);
    }
  }

  &.active {
    border: 2px solid #459C6C;
    box-shadow: 10px 10px 20px #DDD;

    .title {
        padding: 10px 8px 8px 8px;
    }

    .content {
      padding: 18px 18px 20px 18px;
    }

    .photo {
      opacity: .4;
      transform: translateY(-10px);
    }
  }
}

.description {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  margin-top: 12px;

  .subitem {
    flex-basis: 50%;
  }
}

.remove {
  background-color: rgba(#ff3b3b, .6);
  color: white;
  cursor: pointer;
  height: 64px;
  position: absolute;
  right: -32px;
  top: -32px;
  transform: rotate(45deg);
  width: 64px;
  z-index: 1;

  &:hover {
    background-color: rgba(#ff3b3b, 1);
    &::before {
      opacity: 1;
      // transition: all .3s ease;
    }
  }

  &::before {
    background-image: url(../img/icons/close.svg);
    background-size: contain;
    bottom: 8px;
    color: #fff;
    content: ' ';
    font-size: 40px;
    height: 12px;
    opacity: .8;
    outline: none;
    position: absolute;
    right: 25px;
    transform: rotate(-45deg);
    width: 12px;
  }
}

.content {
  padding: 20px;
  user-select: none;
}

.photo-container {
  position: relative;
  pointer-events: none;
}

.photo {
  display: inline-block;
  max-width: 100%;
  transition: all .3s ease;
}

.title {
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
}

.count {
  color: #459C6C;
  font-size: 5rem;
  font-weight: 500;
  left: 50%;
  position: absolute;
  text-shadow: 0 0 24px white;
  top: 50%;
  transform: translate(-50%, -50%);
}

.footer {
  background-color: #f0f0f0;
}
</style>
