<script>
import { mapGetters } from 'vuex';

import About from '@/About';
import Footer from '@/Footer';
import Intro from '@/Intro';

export default {
  name: 'App',
  components: {
    About,
    CartWidget: () => import('@/CartWidget.vue'),
    CheckoutModal: () => import('@/CheckoutModal.vue'),
    Footer,
    Games: () => import('@/Games.vue'),
    Intro,
    ItemsList: () => import('@/ItemsList.vue'),
  },
  computed: {
    ...mapGetters({
      isCartShown: 'getIsCartShown',
      isCartEmpty: 'getIsCartEmpty',
    }),
  },
};
</script>

<template>
<div
  id="app"
  v-bind:class="{'faded': isCartShown}"
  v-bind:style="{
    marginBottom: isCartEmpty ? '0px' : '50px',
  }"
>
  <Intro></Intro>
  <About></About>
  <Games></Games>
  <ItemsList></ItemsList>
  <Footer></Footer>
  <CartWidget></CartWidget>
  <CheckoutModal></CheckoutModal>
</div>
</template>

<style lang="scss">
@font-face {
  font-family: Montserrat;
  font-weight: 300;
  src: url(./fonts/montserrat-300.woff2) format('woff2'),
      url(./fonts/montserrat-300.woff) format('woff');
}

@font-face {
  font-family: Montserrat;
  font-weight: 400;
  src: url(./fonts/montserrat-regular.woff2) format('woff2'),
      url(./fonts/montserrat-regular.woff) format('woff');
}

@font-face {
  font-family: Montserrat;
  font-weight: 500;
  src: url(./fonts/montserrat-500.woff2) format('woff2'),
      url(./fonts/montserrat-500.woff) format('woff');
}

#app {
  &.faded {
    height: calc(100vh - 50px);
    overflow: hidden;
    margin: 0;

    &::after {
      background: rgba(#000, .5);
      content: ' ';
      height: 100%;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 15;
    }
  }
}

body {
  color: #565656;
  font-family: 'Montserrat', 'Source Sans', 'Helvetica Neue', 'Arial Black', Arial, sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  line-height: 1.5;
}

h1 {
  font-size: 3.5em;
  font-weight: 300;
  margin-bottom: 18px;
  white-space: nowrap;
}

h2 {
  font-size: 2.5em;
  line-height: 1.3;
}

a {
  transition: border-bottom-color 0.2s ease;
  color: inherit;
  text-decoration: none;
  border-bottom: dotted 1px;

  &:hover {
    border-bottom-color: transparent;
  }
}

p {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 28px;
  margin: 0 0 2em 0;
}

// Buttons
.wrapper {
  padding: 5.5em 0 5.5em 0;

  &.grey {
    background-color: #f7f7f7;
  }

  &>.inner {
    margin: 0 auto;
    text-align: center;
    width: 1024px;

    header {
      text-align: center;
    }

    h2 {
      position: relative;

      &::before {
        background-color: black;
        content: ' ';
        display: block;
        height: 1px;
        margin: 0 auto 1em auto;
        opacity: .4;
        width: 2em;
      }
    }
  }

  header {
    width: 100%;
  }

  // Helpers
  .nowrap {
    white-space: nowrap;
  }

  .socialIcon-wrapper {
    border: 0;
    display: inline-block;
    opacity: .4;
    transition: all .15s ease;

    &:hover {
      opacity: 1;
    }
  }

  .socialIcon {
    height: 32px;
    margin-right: 12px;
    width: 32px;
  }

  @media screen and (max-width: 1279px) {
    padding: 4em 3em 5.5em 3em;

    &>.inner {
      max-width: 1024px;
      width: 100%;
    }
  }

  @media screen and (max-width: 1023px) {
    padding: 2em 2em 3em;

    h2 {
      font-size: 2em;
      line-height: 1.2;
    }
  }

  @media screen and (max-width: 639px) {
    &>.inner {
      flex-wrap: wrap;
      text-align: center;
    }
  }

  @media screen and (max-width: 479px) {
    padding: 2em 1.5em 3em;
  }

  @media screen and (max-width: 359px) {
    padding: 1.5em 1em 2em;

    h2 {
      font-size: 1.5em;
      font-weight: 400;
    }

    p {
      font-size: 1em;
    }
  }
}
</style>
