<script>
import { mapGetters } from 'vuex';

import Input from '@/ui/Input';
import Textarea from '@/ui/Textarea';

export default {
  name: 'Contacts',
  components: { Input, Textarea },
  computed: {
    ...mapGetters({
      name: 'getName',
      phone: 'getPhone',
      childName: 'getChildName',
      comments: 'getComments',
    }),
  },
};
</script>

<template>
<div class="contacts-wrapper">
  <div class="checkoutTitle">
    Contact form
  </div>
  <div class="contacts">
    <Input
      label="Name"
      placeholder=""
      type="text"
      name="name"
      :value="name"
    />
    <Input
      label="Name of your child"
      placeholder="To personalize the box"
      type="text"
      name="childName"
      :value="childName"
    />
    <Input
      label="Phone"
      placeholder="To inform you about the order"
      type="tel"
      name="phone"
      isRequired="true"
      :value="phone"
    />
    <Textarea
      class="comments"
      label="Comments"
      name="comments"
      placeholder="You can write any wishes"
      :value="comments"
    ></Textarea>
  </div>
</div>
</template>

<style lang="scss" scoped>
$gutter: 20px;
$green: #459C6C;

@mixin columns($columns) {
  width: calc(100%/#{$columns} - ((#{$columns} - 1) * #{$gutter})/#{$columns});

  &:nth-of-type(#{$columns}n) {
    margin-right: 0;
  }
}

.contacts-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: scroll;
  text-align: left;
  padding: 20px 30px;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
}

.description {
  flex-shrink: 0;
  line-height: 24px;
}

.input-wrapper {
  @include columns(2);
}

.comments {
  width: 100%;
}

@media screen and (max-width: 639px) {
  .input-wrapper {
    @include columns(1);
  }
}
</style>
