<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'PaymentItem',
  props: ['term', 'title', 'index'],
  computed: {
    ...mapGetters({
      chosenMethod: 'getPaymentMethod',
    }),
    isChecked: function() {
      return this.chosenMethod.term === this.term;
    },
  },
  methods: mapActions([
    'choosePaymentMethod',
  ]),
};
</script>

<template>
<div
  class="paymentItem-wrapper"
  @click="choosePaymentMethod(term)"
  v-bind:class="{ active: isChecked }"
>
  <div class="index">{{this.index + 1}}</div>
  <div class="content">{{this.title}}</div>
</div>
</template>

<style lang="scss" scoped>
$gutter: 20px;
$grey: rgba(0, 0, 0, .4);
$green: #459C6C;

@mixin flex-center() {
  align-items: center;
  display: flex;
  justify-content: center;
}

.paymentItem-wrapper {
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  width: 100%;

  &:last-of-type {
    margin-bottom: 0;
  }

  &:hover {
    .index {
      border-color: currentColor;
      color: $green;
      transform: translateX(-5px);
    }
  }

  &.active {
    .index {
      background: $green;
      border-color: $green;
      color: white;
      transform: translateX(0px);
    }
  }
}

.index {
  border: 2px solid $grey;
  border-radius: 50%;
  box-sizing: border-box;
  color: $grey;
  flex-shrink: 0;
  font-weight: 500;
  height: 30px;
  line-height: 28px;
  margin-right: 10px;
  text-align: center;
  transition: all .3s ease;
  width: 30px;
}

.content {
  font-weight: 500;
  line-height: 24px;
  padding-top: 4px;
  text-align: left;
}
</style>
