<script>
import { mapGetters } from 'vuex';

import PaymentItem from '@/Payment/PaymentItem';

export default {
  name: 'Payment',
  components: { PaymentItem },
  computed: {
    ...mapGetters({
      payments: 'getPaymentMethods',
    }),
  },
};
</script>

<template>
<div class="payments-wrapper">
  <div class="description">
    Choose the preferable way to pay for your order
  </div>
  <div class="payments">
    <PaymentItem
      v-for="(payment, index) in payments"
      v-bind:key="payment.term"
      v-bind:title="payment.title"
      v-bind:term="payment.term"
      v-bind:index="index"
    ></PaymentItem>
  </div>
</div>
</template>

<style lang="scss" scoped>
$green: #459C6C;

.payments-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: scroll;
  padding: 20px 30px;
}

.payments {
  padding-top: 20px;
}

.description {
  flex-shrink: 0;
  line-height: 24px;
  text-align: left;
}
</style>
