<script>
export default {
  name: 'Button',
  props: ['disabled', 'size', 'type'],
  methods: {
    clickHandler: function() {
      this.$emit('click');
    },
  },
};
</script>

<template>
<button
  v-bind:class="{
    'small': this.size === 'small',
    'primary': this.type === 'primary'
  }"
  :disabled="disabled"
  @click="clickHandler"
>
  <slot></slot>
</button>
</template>

<style lang="scss" scoped>
$green: #459C6C;
$grey: rgba(black, .2);

button {
  transition: all 0.3s ease;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: $grey;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  font-size: 0.7em;
  height: 4.28571em;
  line-height: 4.28571em;
  border-radius: 4.28571em;
  padding: 0 2.85714em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  &:hover {
    background-color: rgba(86, 86, 86, 0.075);
  }

  &.small {
    font-size: 0.6em;
    height: 3.75em;
    line-height: 3.75em;
    border-radius: 3.75em;
    padding: 0 2.5em;
  }

  &.round {
    font-size: 0.6em;
    height: 3.75em;
    line-height: 3.75em;
    border-radius: 50%;
    padding: 0;
    text-align: center;
    width: 3.75em;
  }

  &.simple {
    background-color: transparent;
    border-color: transparent;
  }

  &.primary {
    background-color: $green;
    color: white;
    border-color: $green;

    &:hover {
      background-color: lighten($green, 10%);
    }
  }

  &[disabled] {
    opacity: .6;
    cursor: none;
    pointer-events: none;
  }
}
</style>
