<script>
export default {
  name: 'Input',
  props: ['value', 'label', 'placeholder', 'type', 'name', 'isRequired'],
  data: () => ({
    id: `input_${parseInt(10000 / Math.random(), 10)}`,
    errorMessage: '',
  }),
  computed: {
    hasError: function() {
      return !!this.errorMessage;
    },
    isFilled: function() {
      return Boolean(this.value);
    },
  },
  methods: {
    saveValue: function(event) {
      const { value } = event.target;
      if (this.isRequired && !value.trim()) {
        this.throwError('This field is required');
      } else {
        this.errorMessage = '';
      }

      this.$store.commit('updateMessage', { name: this.name, value });
    },
    throwError: function(msg) {
      this.errorMessage = msg;
    },
    dropError: function() {
      this.errorMessage = '';
    },
  },
};
</script>

<template>
<div v-bind:class="[
  'input-wrapper',
  {
    hasError: this.hasError,
    isFilled: this.isFilled,
  }
]">
  <label :for="id" class="label">{{this.label}}</label>
  <input
    class="input"
    :id="this.id"
    :type="type"
    :value="value"
    :placeholder="errorMessage || placeholder"
    v-on:keyup="this.saveValue"
    v-on:blur="this.saveValue"
    v-on:focus="this.dropError"
  >
</div>
</template>

<style lang="scss" scoped>
$green: #459C6C;
$red: #f75f5f;
$black: rgba(black, .8);
$dark-grey: rgba(black, .6);
$grey: rgba(black, .3);
$border-grey: rgba(0, 0, 0, 0.1);

.input-wrapper {
  margin-bottom: 20px;
  margin-right: 20px;

  &.hasError {
    .label {
      color: $grey !important;
    }

    .input {
      border-color: $red !important;

      &::placeholder {
        color: $red;
      }
    }
  }

  &:focus-within,
  &.isFilled {
    .label {
      color: $green;
    }

    .input {
      border-color: $green;
    }
  }
}

.label {
  display: block;
  color: $dark-grey;
  font-size: 13px;
  margin-bottom: 4px;
  transition: color .3s ease;
}

.input {
  border-color: $border-grey;
  border-width: 0 0 1px 0;
  color: $black;
  font-size: 16px;
  outline: 0;
  padding: 4px 0 8px;
  transition: border-color .3s ease;
  width: 100%;

  &::placeholder {
    color: $grey;
    font-size: 13px;
    transition: color .3s ease;
  }
}
</style>
