<script>
export default {
  name: 'Input',
  props: ['value', 'label', 'placeholder', 'type', 'name', 'isRequired'],
  data: () => ({
    id: `input_${parseInt(10000 / Math.random(), 10)}`,
    errorMessage: '',
  }),
  computed: {
    isFilled: function() {
      return Boolean(this.value);
    },
  },
  methods: {
    saveValue: function(event) {
      const { value } = event.target;
      if (this.isRequired && !value.trim()) {
        this.throwError('This field is required');
      } else {
        this.errorMessage = '';
      }

      this.$store.commit('updateMessage', { name: this.name, value });
    },
    throwError: function(msg) {
      this.errorMessage = msg;
    },
  },
};
</script>

<template>
<div v-bind:class="[
  'textarea-wrapper',
  {
    isFilled: this.isFilled,
  }
]">
  <label :for="id" class="label">{{this.label}}</label>
  <textarea
    class="textarea"
    :id="this.id"
    :type="type"
    :value="value"
    :placeholder="placeholder || errorMessage"
    v-on:blur="this.saveValue"
  ></textarea>
</div>
</template>

<style lang="scss" scoped>
$green: #459C6C;
$red: #f75f5f;
$black: rgba(black, .8);
$grey: rgba(black, .3);
$dark-grey: rgba(black, .6);
$border-grey: rgba(0, 0, 0, 0.1);

.textarea-wrapper {
  margin-bottom: 20px;

  &:focus-within,
  &.isFilled {
    .label {
      color: $green;
    }

    .textarea {
      border-bottom-color: $green;
    }
  }
}

.label {
  display: block;
  color: $dark-grey;
  font-size: 13px;
  margin-bottom: 4px;
  transition: color .3s ease;
}

.textarea {
  border-color: $border-grey;
  border-width: 1px;
  box-sizing: border-box;
  color: $black;
  font-size: 16px;
  line-height: 20px;
  min-height: 80px;
  outline: 0;
  padding: 8px;
  transition: border-color .3s ease;
  width: 100%;

  &::placeholder {
    color: $grey;
    font-size: 13px;
    transition: color .3s ease;
  }
}
</style>
